Repository postmanlabs/uvm: changes, and which Codecov flags are due for each by the changed paths.
All: projectA, projectB

Remove builds
  .travis.yml
Due: none

remove commenting
  .codecov.yaml
Due: none

change to ci-tool
  .travis.yml
  package-lock.json
  package.json
Due: none

sadder diff
  lib/index.js
Due: projectB

Add changelog
  CHANGELOG.yaml
Due: none

Add codecov and Travis CI badge to README
  README.md
Due: none

Update codecov.yml to show unit test status
  .codecov.yaml
  .travis.yml
  codecov.yml
Due: none

Update "test" script in package.json and remove npm/test.js
  npm/test.js
  package.json
  test/system/repository.test.js
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

fix: upgrade eslint-plugin-jsdoc from 4.6.0 to 4.8.4
  package-lock.json
  package.json
Due: none

fix: upgrade async from 2.6.1 to 2.6.3
  package-lock.json
  package.json
Due: none

fix: package.json, package-lock.json & .snyk to reduce vulnerabilities
  package.json
Due: none

fix: package.json, package-lock.json & .snyk to reduce vulnerabilities
  package-lock.json
Due: none

fix: package.json, package-lock.json & .snyk to reduce vulnerabilities
  .snyk
Due: none

Update dependencies
  CHANGELOG.yaml
  package-lock.json
  package.json
Due: none

Release v1.7.9
  CHANGELOG.yaml
  package-lock.json
  package.json
Due: none

Fixed some deliberate lint violation warnings and removed consistent-return since code is mature enough to withstand the same.
  .eslintrc
  test/integration/_bootstrap.js
  test/system/repository.test.js
  test/unit/_bootstrap.js
Due: none

Temp: Commit for proof of concept error position parsing
  lib/uvm/bridge.browser.js
  lib/uvm/bridge.js
  lib/uvm/stack-trace-parser.js
  package-lock.json
  test/unit/uvm-errors.test.js
Due: projectA, projectB

Use web workers for browser sandbox
  lib/uvm/bridge.browser.js
Due: projectA, projectB

Update browser sandbox firmware
  firmware/sandbox-base.js
Due: none

Migrate tests to use web worker sandbox
  test/unit/uvm-browser-custom-sandbox.test.js
  test/unit/uvm-browser-large-firmware.test.js
  test/unit/uvm-timeout.test.js
Due: none

ESLint: turn off "consistent-return" warnings
  .eslintrc
Due: none

Update README
  README.md
Due: none

Update CHANGELOG
  CHANGELOG.yaml
Due: none

1.8.0-beta.1
  package-lock.json
  package.json
Due: none

Wait for web worker load signal
  lib/uvm/bridge.browser.js
Due: projectA, projectB

Check for supported browser APIs
  lib/uvm/bridge.browser.js
  test/unit/uvm-browser-missing-api.js
Due: projectA, projectB

Add --debug flag for browser tests
  test/karma.conf.js
Due: none

Cache dependent global methods before executing the bootCode
  lib/uvm/bridge.browser.js
  test/unit/uvm-browser-mutate-scope.test copy.js
Due: projectA, projectB

Cleanup __uvm_* private variables from the global scope
  lib/uvm/bridge.browser.js
  lib/uvm/bridge.js
  test/unit/uvm-sanity.test.js
Due: projectA, projectB

Path conditions:
  projectA: any of: lib/uvm
  projectB: any of: lib/
