Repository postmanlabs/uvm: changes, and which Codecov flags are due for each by the changed paths.
All: projectA, projectB

.codecov.yaml:

parsers:
  javascript:
    enable_partials: yes
coverage:
  status:
    project:
      default:
        target: 100
flags:
  projectA:  
    paths:
      - lib/uvm
  projectB:
    paths:
      - lib/
comment:
  behavior: spammy

Set __uvm_data_ and __uvm_dispatch_ to undefined
  lib/uvm/bridge.js
Due: projectA, projectB

Test: Handle Node v6 VM bug
  test/unit/uvm-sanity.test.js
Due: none

Dereference __uvm_* variables using null
  lib/uvm/bridge.browser.js
  lib/uvm/bridge.js
  test/unit/uvm-sanity.test.js
Due: projectA, projectB

Remove puppeteer dependency
  npm/test-browser.js
  package-lock.json
  package.json
  test/karma.conf.js
Due: none

Update dependencies
  lib/uvm/bridge.browser.js
  package-lock.json
  package.json
  test/benchmark/communication.test.js
Due: projectA, projectB

Test: setup nyc
  .nycrc.js
  npm/test-unit.js
  package.json
Due: none

Test: update unit tests
  test/unit/_bootstrap.js
  test/unit/bridge-client.test.js
  test/unit/secure-context.test.js
  test/unit/uvm-browser-custom-sandbox.test.js
  test/unit/uvm-browser-large-firmware.test.js
  test/unit/uvm-browser-missing-api.test.js
  test/unit/uvm-browser-mutate-scope.test.js
  test/unit/uvm-errors.test.js
  test/unit/uvm-sanity.test.js
  test/unit/uvm-timeout.test.js
  test/unit/vm-delegate-timers.test.js
Due: none

Update travis.yml
  .travis.yml
Due: none

Update .gitignore and .npmignore
  .gitignore
  .npmignore
Due: none

Test: remove integration tests setup
  npm/test-integration.js
  package.json
  test/integration/_bootstrap.js
Due: none

Update eslint rules
  .eslintrc
  test/.eslintrc
Due: none

Fix eslint errors
  lib/uvm/bridge.browser.js
  lib/uvm/bridge.js
  lib/uvm/index.js
  npm/test-browser.js
  npm/test-lint.js
  npm/test-system.js
  test/benchmark/communication.test.js
  test/system/editorconfig.test.js
  test/system/repository.test.js
  test/unit/bridge-client.test.js
  test/unit/uvm-browser-custom-sandbox.test.js
  test/unit/uvm-browser-large-firmware.test.js
  test/unit/uvm-browser-missing-api.test.js
  test/unit/uvm-browser-mutate-scope.test.js
  test/unit/uvm-sanity.test.js
  test/unit/vm-delegate-timers.test.js
Due: projectA, projectB

Update .gitattributes and .editorconfig
  .editorconfig
  .gitattributes
Due: none

Test: update travis node versions
  test/system/travis-yml.test.js
Due: none

Update package.json
  package-lock.json
  package.json
Due: none

Add system test for published package content
  test/system/npm-publish.test.js
Due: none

Update README
  README.md
Due: none

Update CHANGELOG
  CHANGELOG.yaml
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

Remove async and shelljs dev-dependencies
  npm/test-system.js
  package-lock.json
  package.json
  test/benchmark/communication.test.js
  test/system/editorconfig.test.js
  test/system/jsdoc-config.test.js
  test/system/locked-flatted.test.js
  test/system/npm-publish.test.js
  test/system/repository.test.js
  test/system/travis-yml.test.js
  test/unit/uvm-sanity.test.js
Due: none

Update flatted to v3.0.5
  lib/uvm/bridge-client.js
  package-lock.json
  package.json
  test/system/locked-flatted.test.js
Due: projectA, projectB

Convert UVM function to ES6 class
  lib/bridge-client.js
  lib/bridge.browser.js
  lib/bridge.js
  lib/index.js
  lib/utils.js
  lib/uvm/index.js
  lib/vm-delegate-timers.js
Due: projectA, projectB

Update tests and npm scripts
  .nycrc.js
  npm/test-browser.js
  npm/test-lint.js
  npm/test-system.js
  npm/test-unit.js
  test/benchmark/communication.test.js
  test/system/locked-flatted.test.js
  test/system/repository.test.js
  test/unit/bridge-client.test.js
  test/unit/uvm-browser-large-firmware.test.js
  test/unit/uvm-debug-mode.test.js
  test/unit/vm-delegate-timers.test.js
Due: none

Remove lodash and uuid dependencies
  .eslintrc
  package-lock.json
  package.json
Due: none

Add build-docs script
  npm/build-docs.js
  npm/test-lint.js
  npm/test-unit.js
  package.json
Due: none

Update JSDoc
  lib/bridge-client.js
  lib/bridge.browser.js
  lib/bridge.js
  lib/index.js
Due: projectB

Add travis deploy key
  .github/travis-deploy-key.enc
Due: none

Travis: add automated publish docs steps
  .travis.yml
  test/system/travis-yml.test.js
Due: none

Add script to create a new release
  npm/create-release.js
  package-lock.json
  package.json
Due: none

Travis: add automated release steps
  .travis.yml
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

Add connect method instead of async construction
  lib/index.js
Due: projectB

Add unit tests for uvm connection
  lib/bridge.js
  lib/vm-delegate-timers.js
  test/unit/uvm-custom-sandbox.test.js
  test/unit/uvm-sanity.test.js
Due: projectB

Increase code coverage
  .nycrc.js
Due: none
